In [8]:
import pandas as pd

In [5]:
#simple normalize

a_dict = {
    'name': 'the Ol Finchy',
    'location': 'Canada',
    'ranking': 1,
}
df = pd.json_normalize(a_dict)
print(df)

            name location  ranking
0  the Ol Finchy   Canada        1

In [6]:
#check types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      1 non-null      object
 1   location  1 non-null      object
 2   ranking   1 non-null      int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [12]:
# Normalize json that is list of dicts
json_list = [
    { 'class': 'Year 1', 'student number': 20, 'room': 'Yellow' },
    { 'class': 'Year 2', 'room': 'Blue' },
]
df = pd.json_normalize(json_list)
print(df)

    class  student number    room
0  Year 1            20.0  Yellow
1  Year 2             NaN    Blue

In [20]:
# normalize multi layer
json_obj = {
    'school': 'ABC primary school',
    'location': 'London',
    'ranking': 2,
    'info': {
        'president': 'Mike Mikeson',
        'contacts': {
          'email': {
              'admission': 'admission@abc.com',
              'general': 'info@abc.com'
          },
          'tel': '123456789',
      }
    }
}
df = pd.json_normalize(json_obj, max_level=1)
print(df)

               school location  ranking info.president  \
0  ABC primary school   London        2   Mike Mikeson

                                       info.contacts
0  {'email': {'admission': 'admission@abc.com', '...

In [21]:
# normalize multi layer with nested list
json_obj = {
    'school': 'ABC primary school',
    'location': 'London',
    'ranking': 2,
    'info': {
        'president': 'John Kasich',
        'contacts': {
          'email': {
              'admission': 'admission@abc.com',
              'general': 'info@abc.com'
          },
          'tel': '123456789',
      }
    },
    'students': [
      { 'name': 'Tom' },
      { 'name': 'James' },
      { 'name': 'Jacqueline' }
    ],
}
df = pd.json_normalize(json_obj, max_level=1)
print(df)

               school location  ranking  \
0  ABC primary school   London        2

                                            students info.president  \
0  [{'name': 'Tom'}, {'name': 'James'}, {'name': ...    John Kasich

                                       info.contacts
0  {'email': {'admission': 'admission@abc.com', '...

In [24]:
# Just grab the students

df = pd.json_normalize(json_obj, record_path=['students'])
print(df)

         name
0         Tom
1       James
2  Jacqueline

In [25]:

df = pd.json_normalize(
    json_obj,
    record_path =['students'],
    meta=['school', ['info', 'contacts', 'tel']],
)
print(df)

         name              school info.contacts.tel
0         Tom  ABC primary school         123456789
1       James  ABC primary school         123456789
2  Jacqueline  ABC primary school         123456789

In [26]:
#Data is list of dicts

json_list = [
    {
        'class': 'Year 1',
        'student count': 20,
        'room': 'Yellow',
        'info': {
            'teachers': {
                'math': 'Rick Scott',
                'physics': 'Elon Mask'
            }
        },
        'students': [
            {
                'name': 'Tom',
                'sex': 'M',
                'grades': { 'math': 66, 'physics': 77 }
            },
            {
                'name': 'James',
                'sex': 'M',
                'grades': { 'math': 80, 'physics': 78 }
            },
        ]
    },
    {
        'class': 'Year 2',
        'student count': 25,
        'room': 'Blue',
        'info': {
            'teachers': {
                'math': 'Alan Turing',
                'physics': 'Albert Einstein'
            }
        },
        'students': [
            { 'name': 'Tony', 'sex': 'M' },
            { 'name': 'Jacqueline', 'sex': 'F' },
        ]
    },
]


df = pd.json_normalize(json_list)
print(df)

    class  student count    room  \
0  Year 1             20  Yellow
1  Year 2             25    Blue

                                            students info.teachers.math  \
0  [{'name': 'Tom', 'sex': 'M', 'grades': {'math'...         Rick Scott
1  [{'name': 'Tony', 'sex': 'M'}, {'name': 'Jacqu...        Alan Turing

  info.teachers.physics
0             Elon Mask
1       Albert Einstein